{% extends 'base_accounts.html' %}

{% block title %}
    {% if validlink %}
        Change password for {{ form.user.username }}
    {% else %}
        Reset your password
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card">
                <div class="card-body">
                    {% if validlink %}
                        <form method="post">
                            {% csrf_token %}
                            {% include 'includes/form.html' %}
                            <input type="submit" value="Reset password" class="btn btn-block btn-success">
                        </form>
                    {% else %}
                        <div class="alert alert-danger" role="alert">
                            Invalid link. try again.
                        </div>
                    {% endif %}
{% endblock content %}